body {
    background-color: #FFFFFF;
}
table, th	{
	text-align: center;
	border-collapse: collapse;
    border: 1px solid black;
	margin: auto;
}
table, td	{
	text-align: left;
	border-collapse: collapse;
    border: 1px solid black;
	margin: auto;
}
div {
	
}
h1	{
	font-size: 22px;
}
h2	{
	font-size: 18px;
}