
/* CSS Document */

/* Layout */
html,body
{
	height:100%;
}
body
{
	margin:0px;
	padding:0px;
	background:#FFFFFF;
	background:url(../images/background.jpg);
	background-size:cover;
	font-size:12px;
	font-weight:bold;
	font-family:"Arial", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:#FFFFFF;
}
div#header
{
	position:relative;
}
div#container
{
	position:relative;
}
div#footer
{
	position:absolute;
	float:bottom;
}
div#basic
{
	float:left;
	width:100%;
}
div#advanced
{
	display:none;
	float:right;
	width:38em;
	margin-top:40px;
}
#form
{
	margin:auto;
	width:25em;
	background:rgba(0,0,0,0.5);
	padding:20px;
	border:5px solid rgba(0,0,0,0.25);
	border-radius:10px;
	overflow:hidden;
}

/* Text Labels Buttons Boxes */
h1,h2,h3,h4,h5
{
	margin:0;
	padding:0;
}
h1
{
	float:top;
	font-size:25pt;
	margin:0px 0px 30px 0px;
	text-align:center;
}
h2
{
	text-align:left;
	font-size:14pt;
	margin:0px 0px 0px 3px;
}
h3
{
}
h4
{
}
h5
{
}
.textboxmod
{
	text-align:left;
	margin:0px 12px 0px 3px;
}
.textbox
{
	padding:0px 10px;
	height:2.5em;
	width:95%;
	border:inset rgba(255,255,255,0.5);
	border-radius:10px;
	margin:3px 0px 10px 0px;
	outline:none;
	overflow:hidden;
	background:#FFFFFF url(../images/cross.gif) no-repeat right -10px center;
	transition:background 0.5s;
}
.textbox.x
{
	background-position:right 10px center;
}
.textbox.onX
{
cursor:pointer;
}
.textbox::-ms-clear
{
	display:none;
	width:0;
	height:0;
}
.button
{
	background:rgba(79,131,255,0.8);
	border:outset rgba(0,0,0,0.8);
	font-size:14pt;
	font-weight:bold;
	color:#FFFFFF;
	height:2.5em;
	width:100%;
	border-radius:10px;
	margin:10px 0px 10px 0px;
	outline:none;
}
.button:hover
{
	background:rgba(0,42,145,0.5);
	border:inset rgba(0,0,0,0.5);
	outline:none;
}
.button:active
{
	background:rgba(0,42,145,0.8);
	border:inset rgba(0,0,0,0.5);
	outline:none;
}
#submit2
{
	float:bottom;
}
fieldset
{
}
legend
{
}
table
{
	margin:auto;
}
#logo
{
	height:150px;
	width:250px;
}



/* Travel buttons */
.selector input
{
    margin:0;
	padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.transportcheck input
{
    position:absolute;
    z-index:999;
}

.car
{
	background-image:url(../images/car.png);
}
.train
{
	background-image:url(../images/train.png);
}
.walk
{
	background-image:url(../images/walk.png);
}
.cycle
{
	background-image:url(../images/cycle.png);
}
.plane
{
	background-image:url(../images/plane.png);
}
.bus
{
	background-image:url(../images/bus.png);
}

.transportcheck input:active +.transportchoice, .selector input:active +.transportchoice
{
	opacity:.9;
}
.transportcheck input:checked +.transportchoice, .selector input:checked +.transportchoice
{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.transportchoice
{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.transportchoice:hover
{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.transportcheck input{
	margin: 5px 0 0 12px;
}
.transportcheck label{
	margin-left: 7px;
}

